.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.vscode
/.swiftpm/xcode/xcshareddata/xcschemes/scaffold-spm-proj.xcscheme
/release_binary.zip
